/***** common theme BEGIN *****/
body {
  background-color: black;
  color: white;
}

.section-light {
  background-color: rgb(240, 240, 240);
  color: black;
}

.font-weight-500 {
  font-weight: 500 !important;
}

.bg-transparent {
  background-color: transparent;
}

.text-wrap {
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.text-wrap h3 {
  padding: 2rem 0 1.5rem;
}

.text-wrap p {
 padding-bottom: 1rem;
}
/***** common theme END *****/

/***** footer BEGIN *****/
footer {
  color: rgb(201, 201, 201);
  font-size: small;
}
/***** footer END *****/

/***** header BEGIN *****/
.navbar {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
}
.navbar.fixed-top {
  position: fixed;
  width: 100%;
  z-index: 1030;
}

.header-nav .nav-link {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  font-size: 1rem;
  color: #dddddd;
  transition: background-color 300ms;
}

.header-nav .nav-link:hover {
  color: #ffffff;
}
/***** header END *****/
