body {
  background-color: black;
  color: white;
}

footer {
  color: rgb(201, 201, 201);
  font-size: small;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
}
.navbar.fixed-top {
  position: fixed;
  width: 100%;
  z-index: 1030;
}

.header-nav .nav-link {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  font-size: 1rem;
  color: #dddddd;
  transition: background-color 300ms
}

.header-nav .nav-link:hover {
  color: #ffffff
}

.spotlight {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-shadow: 1px 1px 2px black;
}

.spotlight .container {
  height: 100%;
}

.spotlight-holder {
  height: 100%;
}

.section-light {
  background-color: rgb(255, 234, 211);
  color: black;
}

.font-weight-500 {
  font-weight: 500 !important;
}

.bg-transparent {
  background-color: transparent;
}
