.swiper-bg {
  height: 100%;
  margin: 0 auto;
  background: center top no-repeat white;
}
.swiper-continer {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.swiper-character {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.swiper-card {
  font-family: "Noto Sans SC";
  position: absolute;
  background: rgba(255, 255, 255, 0.75);
  text-align: center;
  color: #000;
  border-radius: 15px;
  z-index: 1;
  padding: 30px;
  overflow: auto;
  scrollbar-width: none;
}
.swiper-card img {
  display: block;
  margin: 0 auto;
  width: 70%;
}
.swiper-card h1 {
  font-size: 22px;
}
.swiper-card h2 {
  font-size: 20px;
}
.swiper-card p {
  font-size: 16px;
}
@media (max-width: 767.98px) {
  .swiper-bg {
    background-size: cover;
  }
  .swiper {
    height: 1000px;
  }
  .swiper-continer {
    width: 100%;
  }
  .swiper-character {
    height: calc(70% - 70px);
    width: calc(100% - 20px);
    top: 60px;
    left: 0;
    right: 0;
    margin: auto;
    background-position: center 0;
  }
  .swiper-card {
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 70%;
    width: calc(100% - 30px);
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .swiper-bg {
    background-size: cover;
  }
  .swiper {
    height: 1100px;
  }
  .swiper-continer {
    width: 100%;
  }
  .swiper-character {
    height: calc(80% - 70px);
    width: calc(80% - 20px);
    top: 60px;
    left: 0;
    right: 0;
    margin: auto;
    background-position: center 0;
  }
  .swiper-card {
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 70%;
    width: 75%;
  }
}
@media (min-width: 992px) {
  .swiper-bg {
    background-size: auto 100%;
  }
  .swiper {
    height: 800px;
  }
  .swiper-continer {
    max-width: 980px;
  }
  .swiper-character {
    height: 650px;
    width: 500px;
    top: 100px;
    left: 0px;
  }
  .swiper-card {
    width: 400px;
    max-height: 80%;
    top:50%;
    transform: translateY(-50%);
    right: 30px;
    margin: auto;
  }
}
